.main-title {
  position: relative;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;

  &__block {
    width: 100%;
    z-index: 2;
  }

  &__wrapper {
    text-align: center;
  }

  h1 {
    color: $bg-main;
    font-size: 44px;
    max-width: 540px;
    margin: -10px auto 0 auto;
    line-height: 58px;
    text-align: center;

    @media (max-width: 800px) {
      padding: 0 30px;
      font-size: 2rem;
      line-height: 2rem;
    }

    @media (max-width: 550px) {
      padding: 0 30px;
      font-size: 1.8rem;
      line-height: 2rem;
    }

    @media (max-width: 400px) {
      padding: 0 30px;
      font-size: 1.5rem;
      line-height: 2rem;
      max-width: 260px;
    }
  }

  p {
    color: darken($igray, 80%);
    font-size: 17px;
    margin: 10px auto 20px auto;
    width: 410px;

    @media (max-width: 800px) {
      max-width: 360px;
      padding: 0 30px;
      font-size: 0.9rem;
    }

    @media (max-width: 550px) {
      max-width: 260px;
    }
  }

  .main-link {
    transition: border-color 0.3s;
    position: absolute;
    bottom: 40px;
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    border-right: 0.4em solid #e9edf5;
    border-top: 0.4em solid #e9edf5;
    border-radius: 0.2em;
    transform: rotate(135deg);
    outline: none;
    cursor: pointer;

    &:hover {
      border-color: $iblue;
    }

    &:active,
    &:focus {
      border-color: $iblue;
    }

  }


}
