.main-header {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  border-bottom: 1px solid $igray;
  background: $bg-main;
  //background: url("../img/developer.jpg");
  //background-position: 0 37px;
  //background-repeat: no-repeat;
  //background-size: cover;
  //padding-bottom: 80px;
}
