.main-nav {
  position: sticky;
  top: 0;
  z-index: 3;


  .logo {
    position: absolute;
    width: 160px;
    left: 10px;

    @media (max-width: 1000px) {
      height: 50px;
      width: auto;
      left: 20px;
    }
  }

  &__btn {
    display: none;

    @media (max-width: 1000px) {
      border: none;
      display: block;
      position: absolute;
      content: "F";
      top: 10px;
      right: 30px;
      width: 30px;
      height: 30px;
      background: url("../img/menu-open.svg") no-repeat;
      background-size: 30px 30px;
      cursor: pointer;

      &.open {
        background: url("../img/menu-close.svg") no-repeat;
      }
    }



  }

  &__list {
    @include reset-list;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgba(#f7f7f7, 1);

    @media (max-width: 1000px) {
      height: 50px;

      &.open {
        flex-wrap: wrap;
        height: auto;
        padding-top: 50px;
      }
    }
  }

  &__item {

    @media (max-width: 1000px) {
      display: none;
      padding: 0 20px;

      &.open {
        display: block;
        width: 100%;
        border-bottom: 1px solid $igray;


        &:first-child {
          border-top: 1px solid $igray;
        }

        a {
          color: $bg-dark;;
          font-size: 0.9rem;
          line-height: 1rem;
          padding: 17px;
          border: none;
        }

        a:hover::after,
        a:focus::after,
        a:active::after {
          display: none;
        }
      }
    }

    padding: 0 40px;



    a {
      font-size: 0.9rem;
      padding: 12px 0;
      border-bottom: 1px solid rgba(gray, 0);
      color: $bg-dark;
      outline: none;
      position: relative;

      &:hover {
        opacity: 0.7;

        &::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: $ired;
          bottom: -2px;
          left: 0;
        }
      }

      &:active,
      &:focus {
        opacity: 0.7;

        ::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 1px;
          background: $ired;
          bottom: -2px;
          left: 0;
        }

      }
    }

  }
}
